body{font-family: 'Ubuntu', sans-serif;
    }
    html{
        margin:0;
        padding:0;
    }
    body{
        margin:0;
        padding:0;
    }
    header{
        
        height: 110px;
        padding-left: 53px;
        padding-right: 53px;
        padding-top: 40px;

        top: 0;
        left: 0;
        right: 0;
        position:fixed;
        background-color: white; opacity: 0.9;

        border-bottom:0.5px solid lightgrey ;
    }
    .menubar{
        display: flex;
        
        margin:0;
        padding:0;
        justify-content: space-around;
    }
    .menubar .menu:nth-child(1) {flex-grow:1;}
    .menubar .menu:nth-child(2) {flex-grow:3;}
    .menubar .menu:nth-child(3) {flex-grow:1;}
    .menu{
        
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .menu div{
        padding-left: 25px;
        padding-right: 25px;
        
    }
    #menu{
        font-size: 17px;
        color: dimgray;
    }
    #logo{
        
        text-align: center;
        margin-bottom: 25px;
    }
    i{
        font-size: 17px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #frontimage{
        text-align: center;
    }
    .section-between{
        padding-top: 150px;
    }
    .section-001{
        border:1px solid black;
    }
    .section-002{
        margin-top: 40px;
        margin-bottom: 20px;
        border:1px solid red;
        display:flex;
        align-items: center;
    }
    .section-003{
        margin-top: 20px;
        margin-bottom: 20px;
        border:1px solid yellow;
        display :flex;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-004{
        margin-top: 20px;
        margin-bottom: 20px;
        border:1px solid green;
    }
    .section-002-picture-001{
        text-align: center;
        border:1px solid green;
        flex:1;
        
    }
    .section-002-picture-002{
        border:1px solid green;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-002-picture-003{
        border:1px solid green;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-002-picture-merge{
        flex-direction: column;
        flex:1;
    }
    .section-003-picture-001{
        flex:1;
        text-align: center;
    }
    .section-003-picture-002{
        flex:1;
        text-align: center;
    }